body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* Set your background color */
    color: #333; /* Set your text color */
}

#settings-container {
    text-align: center;
    margin-top: 50px;
}

input[type="range"] {
    width: 90%; /* Make the sliders bigger */
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50; /* Set your button color */
    color: #fff; /* Set your button text color */
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#timer-container {
    text-align: center;
    margin-top: 50px;
}

#timer, #message {
    font-size: 24px;
    font-weight: bold;
}

#timer-info p {
    font-size: 16px;
}

#tomato-img {
    max-width: 200px;
}

.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

/* Dark mode! */
body.dark-mode {
    background-color: #121212; /* dark background color */
    color: #ffffff; /* text color */
}

.sun {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url('sun.png');
    background-size: cover;
    cursor: pointer;
}
